# Ignore Python cache files
__pycache__
*.pyc
*.pyo
*.pyd

# Ignore version control directories
.git
.gitignore

# Ignore virtual environments
.venv
env
*.env

# Ignore Docker files
Dockerfile
